/** { border: 1px red solid; }*/

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  /*background-color: #222;*/
  /*color: white;*/
  height: 100px;
  padding: 20px;
}

.App-title {
  /*font-size: 1.5em;*/
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}


.posts-pane {
  border: 1px solid rgb(221,221,221);
  padding: 15px;
}

.posts-pane-menu {
  padding-bottom: 15px;
}

/*.post-snippet-score,*/
.post-snippet-title,
.post-snippet-details {
  text-align: left;
}

.post-snippet {
  border: 1px solid rgb(221,221,221);
  padding: 15px;
}
